* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  .main {
    margin: 100px auto 0;
    max-width: 1170px;
    display: grid;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    font-family: "Lato";
  }
