$color-1: #E2E6E7;
$color-2: #2C3E50;
$color-3: #A1B1BC;
$color-4: #CFD2D3;
$color-5: #A47503;
$color-6: #F9B718;
$color-7: #FFC12D;
$color-8: #558502;
$color-9: #97E411;
$color-10: #7BC200;
$color-11: #D52E13;
$color-12: #FD7761;
$color-13: #F55C43;
$color-14: #0787D4;
$color-15: #6FD9FC;
$color-16: #47B4F6;
$color-17: #5B568E;
$color-18: #A39CDC;
$color-19: #8781BD;
$color-20: #C89210;
$color-21: #B18009;
$color-22: #A7EC2F;
$color-23: #FEB1A4;
$color-24: #85EBFA;
$color-25: #AACDF6;
