.notification {
    display: flex;
    position: relative;
    flex-direction: row;
    padding: 42.172px 49.578px;
    border: 1px solid $color-1;
    border-radius: 10px;

    a {
        position: absolute;
        top: 13%;
        right: 3%;
        text-decoration: none;

        &::after {
            content: '\f00d';
            color: $color-4;
            font-family: 'Fontawesome', sans-serif;
            font-size: 14px;
        }
    }

    p {
        color: $color-3;
        font-size: 14px;
        line-height: 24px;
    }

    &.solid {
        background-color: $color-7;

        &::before {
            border: 7px solid $color-20;
        }

        p {
            color: $color-2;
        }

        a {

            &::after {
                color: $color-21;
            }
        }
    }

    &.green {

        a {
            position: absolute;
            top: 11%;
            right: 1.5%;
        }

        &::before {
            content: '\f00c';
            border: 7px solid $color-10;
            background-color: $color-9;
            color: $color-8;
        }

        &.solid {
            background-color: $color-22;

            &::before {
                border: 7px solid $color-10;
                border-color: $color-10;
                background-color: $color-22;
            }

            a {

                &::after {
                    color: $color-8;
                }
            }
        }
    }

    &.red {

        &::before {
            content: '\f00d';
            border: 7px solid $color-13;
            background-color: $color-12;
            color: $color-11;
        }

        &.solid {
            background-color: $color-23;

            &::before {
                border-color: $color-13;
                background-color: $color-23;
            }

            a {

                &::after {
                    color: $color-11;
                }
            }
        }
    }

    &.blue {

        &::before {
            content: '\f0e7';
            border: 7px solid $color-16;
            background-color: $color-15;
            color: $color-14;
        }

        &.solid {
            background-color: $color-24;

            &::before {
                border-color: $color-16;
                background-color: $color-24;
            }

            a {

                &::after {
                    color: $color-14;
                }
            }
        }
    }

    &.purple {

        &::before {
            content: '\f129';
            border: 7px solid $color-19;
            background-color: $color-18;
            color: $color-17;
        }

        &.solid {
            background-color: $color-25;

            &::before {
                border-color: $color-19;
                background-color: $color-25;
            }

            a {

                &::after {
                    color: $color-17;
                }
            }
        }
    }

    div {

        h3 {
            position: relative;
            left: .1%;
            margin-bottom: 2.5%;
            color: $color-2;
            font-size: 14px;
            font-weight: 900;
            letter-spacing: 1.5px;
            line-height: 14px;
            word-spacing: -1px;
        }
    }

    &.large {
        display: flex;
        position: relative;
        grid-column: span 2;
        flex-direction: row;
        max-width: 100%;
        padding: 42.109px 50.297px;
        border: 1px solid $color-1;
        border-radius: 10px;

        &::before {
            margin-right: 2.5%;
        }

        h3 {
            margin-bottom: 1%;
        }
    }

    &::before {
        content: '\f12a';
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        margin-right: 6%;
        border: 7px solid $color-6;
        border-radius: 50%;
        background-color: $color-7;
        color: $color-5;
        font-family: 'Fontawesome', sans-serif;
        font-size: 24px;
    }
}
